
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
  text-align:center;

}

hr{
margin-bottom:10px;
}

button{
  size: 60px;

  margin-top: 100px;
}


p{
color:red;
}

h1 {
  margin: 1em 0 0 0;

}

h2 {
  margin: auto;
  margin-bottom: 10px;

}

label{
    display: block;
    margin-bottom: 10px;

}

input{
    margin:auto;
    margin-bottom: 10px;

    display: block;
}

input[type="submit"]{

    margin-top: 20px;
    margin-bottom: 0px;
    display: block;
}


.success{
color:green;

}

.error{
    color:red;

}


fieldset {

margin-bottom:10px;
margin-top:10px;
  border: none;
  padding: auto;
}

.button-passkey{
    margin-top: 0;
}

.ref-passkey{

    color: orange;
}

.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #2e2e2e;
    transition: background-color 0.3s;
    width: auto; /* Ajusta el ancho al contenido */
    max-width: 300px; /* Tamaño máximo opcional */

}

.github-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.github-button:hover {
    background-color: #444;
}


